<h5 *ngIf="pets?.length > 0" class="mt-3">These pets are looking for a home!</h5>

<a href="#">Add a pet to the shelter</a>
<table class="table table-striped text-center col-8 mt-3" *ngIf="pets?.length > 0">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pet of pets">
    <td>{{pet.name}}</td>
    <td>{{pet.type }}</td>
    <td>
      <div class="row justify-content-around">
        <a class="btn btn-info" role="button" routerLink="/pets/{{pet._id}}">Details</a>
        <a class="btn btn-warning" role="button" routerLink="/pets/{{pet._id}}/edit">Edit</a>
        <a class="btn btn-danger text-white" role="button" (click)="onDelete(pet._id)">Delete</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<h4 *ngIf="pets?.length === 0" class="text-danger mt-5">There is no pets in our shelter now.</h4>
